<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="watson.punwarz">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/titleless"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name=".ParseApplication">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <!--Splash screen -->
        <activity android:name="watson.punwarz.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Log in page -->
        <activity android:name="watson.punwarz.Login">
        </activity>


        <!--lobby page-->
        <activity android:name="watson.punwarz.Lobby"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--Puns page -->
        <activity android:name="watson.punwarz.Puns"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName="watson.punwarz.Lobby">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="watson.punwarz.Lobby" />
        </activity>

        <!-- Add prompt page -->
        <activity android:name="watson.punwarz.AddTitle"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- Add pun page -->
        <activity android:name="watson.punwarz.AddPun"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--Template page -->
        <activity android:name="watson.punwarz.Page"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--Profile page -->
        <activity android:name="watson.punwarz.Profile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--Settings page -->
        <activity android:name="watson.punwarz.Settings"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--connects to facebook-->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"/>

        <meta-data
            android:name="com.parse.APPLICATION_ID" android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_ID" android:value="@string/parse_client_id" />
        <meta-data
            android:name="com.parse.SERVER_URL" android:value="@string/parse_server_url" />
    </application>

</manifest>
